.events {
  display: flex;
  flex-direction: column;

  grid-column: 1 / -1;
  margin-bottom: 60px;

  @include on-tablet {
    flex-direction: row;
    gap: 30px;
  }

  &--translate-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all $transition;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--translate-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all $transition;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__image {
    width: 100%;

    @include on-tablet {
      height: 422px;
      width: 330px;
    }

    @include on-desktop {
      height: 475px;
      width: 370px;
    }

    @include hover(transform, scale(1.05));
  }

  &__wrapper-info {
    @include on-tablet {
      width: calc((100% - 30px) / 2);
    }
  }

  &__period {
    margin: 0;
    margin-top: 20px;
    color: $main-red-button;

    @include on-tablet {
      margin-top: 0;
    }

    @include on-desktop {
      margin-top: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-block: 10px 20px;
  }

  &__description {
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin-top: -30px;

    @include on-tablet {
      margin-top: 0;
    }
  }
}
