$c-gray: #eee;
$main-white: #f1f5f4;
$main-gray: #3f5252;
$title-black: #1C1B29;
$main-red-button: #cd4d31;
$hover-red-button: #af3419;
$active-red-button: #ea340d;
$disabled-red-button: #dd836f;
$table-min-width: 640px;
$desktop-min-width: 1280px;
$design-min-width: 1440px;
$transition: 0.3s;
